<%= form_with(model: horse) do |form| %>
  <% if horse.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(horse.errors.count, "error") %> prohibited this horse from being saved:</h2>

      <ul>
        <% horse.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">


  <div class="field">
    <h5><%= form.label :immagine, class:"d-flex justify-content-center" %></h5>
    <%= form.file_field :cover, class:"form-control" %>
  </div>

  <br>

  <div class="field">
    <h5><%= form.label :nome, class:"d-flex justify-content-center" %></h5>
    <%= form.text_field :nome, class:"form-control" %>
  </div>

  <br>

  <div class="field">
    <h5><%= form.label :sesso, class:"d-flex justify-content-center" %></h5>
    <%= form.text_field :sesso, class:"form-control" %>
  </div>

  <br>

  <div class="field">
    <h5><%= form.label :descrizione, class:"d-flex justify-content-center" %></h5>
    <%= form.text_area :descrizione, class:"form-control" %>
  </div>

  <br>

  <div class="field">
    <h5><%= form.label :età, class:"d-flex justify-content-center" %></h5>
    <%= form.number_field :età, class:"form-control" %>
  </div>

  <br>

  <div class="actions">
    <%= form.submit 'CREA CAVALLO', class:"btn btn-primary w-100" %>
  </div>
<% end %>


</div>