<p id="notice"><%= notice %></p>

<p>
  <% if @horse.cover.attached? %>
    <%= image_tag url_for(@horse.cover), class:"images" %>
  <% end %>
</p>

<p>
  <strong>NOME:</strong>
  <%= @horse.nome %>
</p>

<p>
  <strong>SESSO:</strong>
  <%= @horse.sesso %>
</p>

<p>
  <strong>DESCRIZIONE:</strong>
  <%= @horse.descrizione %>
</p>

<p>
  <strong>ETÀ:</strong>
  <%= @horse.età %>
</p>


<div class="container">

<%= link_to 'MODIFICA', edit_horse_path(@horse), class:"btn btn-primary w-100" %> 

<div style="padding: 10px"></div>

<%= link_to 'INDIETRO', horses_path, class:"btn btn-info w-100" %>

<div style="padding: 10px"></div>

</div>