<p id="notice"><%= notice %></p>

<p>
  <h5 class="text">IMMAGINE:</h5>
  <% if @horse.cover.attached? %>
    <div class="d-flex justify-content-center"><%= image_tag url_for(@horse.cover), class:"images" %></div>
  <% end %>
</p>

<div style="padding: 5px"></div>

<p>
  <h5 class="text">NOME:</h5>
  <p class="text"><%= @horse.nome %></p>
</p>

<div style="padding: 5px"></div>

<p>
  <h5 class="text">SESSO:</h5>
  <p class="text"><%= @horse.sesso %></p>
</p>

<div style="padding: 5px"></div>

<p>
  <h5 class="text">DESCRIZIONE:</h5>
  <div class="d-flex justify-content-center"><p class="questo text"><%= @horse.descrizione %></p></div>
</p>

<div style="padding: 5px"></div>

<p>
  <h5 class="text">ETÀ:</h5>
  <p class="text"><%= @horse.età %></p>
</p>


<div class="container">

<%= link_to 'MODIFICA', edit_horse_path(@horse), class:"btn btn-primary w-100" %> 

<div style="padding: 10px"></div>

<%= link_to 'INDIETRO', horses_path, class:"btn btn-info w-100" %>

<div style="padding: 10px"></div>

</div>