<%= form_with(model: utenti) do |form| %>
  <% if utenti.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(utenti.errors.count, "error") %> prohibited this utenti from being saved:</h2>

      <ul>
        <% utenti.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="container">


  <div class="field">
    <%= form.label :cognome, class:"d-flex justify-content-center" %>
    <%= form.text_field :cognome, class:"form-control" %>
  </div>

  <br>

  <div class="field">
    <%= form.label :nome, class:"d-flex justify-content-center" %>
    <%= form.text_field :nome, class:"form-control" %>
  </div>

  <br>

  <div class="field">
    <%= form.label :email, class:"d-flex justify-content-center" %>
    <%= form.text_field :email, class:"form-control" %>
  </div>

  <br>

  <div class="field">
    <%= form.label :numero, class:"d-flex justify-content-center" %>
    <%= form.number_field :numero, class:"form-control" %>
  </div>

  <br>

  <div class="field">
    <%= form.label :annotazioni, class:"d-flex justify-content-center" %>
    <%= form.text_area :annotazioni, class:"form-control" %>
  </div>

  <br>

  <div class="actions">
    <%= form.submit 'CREA UTENTE', class:"btn btn-primary w-100" %>
  </div>
<% end %>
