<p id="notice"><%= notice %></p>



<br>



<div class="d-flex justify-content-center">
<h1>UTENTI</h1>
</div>



<br>



<table class="table">
  <thead>
    <tr>
      <th class="text">COGNOME</th>
      <th class="text">NOME</th>
      <th class="text">EMAIL</th>
      <th class="text">NUMERO</th>
      <th class="text">ANNOTAZIONI</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @utentis.each do |utenti| %>
      <tr>
        <td class="text"><%= utenti.cognome %></td>
        <td class="text"><%= utenti.nome %></td>
        <td class="text"><%= utenti.email %></td>
        <td class="text"><%= utenti.numero %></td>
        <td class="text"><%= utenti.annotazioni %></td>
        <td><%= link_to 'MOSTRA', utenti, class:"btn btn-success w-100" %></td>
        <td><%= link_to 'MODIFICA', edit_utenti_path(utenti), class:"btn btn-primary w-100" %></td>
        <td><%= link_to 'ELIMINA', utenti, method: :delete, data: { confirm: 'SEI SICURO?' }, class:"btn btn-danger w-100" %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>

<div class="container">

<%= link_to 'NUOVI UTENTI', new_utenti_path, class:"btn btn-primary w-100" %>

<div style="padding: 10px"></div>

</div>