<p id="notice"><%= notice %></p>

<p>
  <strong>COGNOME:</strong>
  <%= @utenti.cognome %>
</p>

<p>
  <strong>NOME:</strong>
  <%= @utenti.nome %>
</p>

<p>
  <strong>EMAIL:</strong>
  <%= @utenti.email %>
</p>

<p>
  <strong>NUMERO:</strong>
  <%= @utenti.numero %>
</p>

<p>
  <strong>ANNOTAZIONI:</strong>
  <%= @utenti.annotazioni %>
</p>


<div class="container">

<%= link_to 'MODIFICA', edit_utenti_path(@utenti), class:"btn btn-primary w-100" %> 

<div style="padding: 10px"></div>

<%= link_to 'INDIETRO', utentis_path, class:"btn btn-info w-100" %>

<div style="padding: 10px"></div>

</div>